/* app/members/members.module.css */

/* メンバーカード全体 */
.paracontainer {
    transform: skewX(-15deg);
    overflow: hidden;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
}

/* カードのホバー効果 */
.paracontainer:hover {
    transform: skewX(-15deg) scale(1.05);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.paralogo {
    transform: skewX(-15deg);
    overflow: hidden;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
}
